.invisible {
    display: none !important;
}

#tel-input-2{

    ion-intl-tel-input{
        border: 1px solid #b7bcc9 ;
        padding: 5px 5px;
        border-radius: 5px;
        width: 100%;
    }
    ::ng-deep .ionic-selectable {
        color: #a3a3a3;
    }
    // ::ng-deep ion-input {
    //     font-size: 1rem !important;
    //     border: 0px;
    // }
}

.center {
    display:flex ;
    justify-content: center;
    align-items: center;
}