.post-text{
    font-weight: bold;
    margin: 0px;
    color: #121D3B;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
    text-transform : capitalize;
}
p{
    margin: 0px;
}