<div class="data-container">
  <h3 class="main-title">Picks Overview</h3>
  <div class="total-pickers-container">
    <h4 class="sub-title">Total Pickers</h4>
    <div class="info-container">
      <div>
        <span>65</span>
        <span class="increase">+10%</span>
      </div>
    </div>
  </div>
  <div class="performance-container">
    <div class="performance-details-container">
      <h4 class="sub-title">Performance</h4>

      <div class="info-container">
        <div>
          <span>65</span>
          <span class="decrease">-13%</span>
        </div>
      </div>
    </div>
    <div class="total-picks-container">
      <h4 class="sub-title">Total Picks</h4>
      <div class="info-container">
        <div>
          <span>65</span>
          <span class="increase">+10%</span>
        </div>
      </div>
    </div>
  </div>
</div>
