<ion-header class="ion-no-border" mode="md">
  <ion-toolbar style="padding-top: 0px">
    <ion-buttons slot="start" (click)="goBack()">
      <!-- <ion-back-button icon="caret-back"></ion-back-button> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="20"
        viewBox="0 0 24 20"
        fill="none"
      >
        <path
          d="M24 9.99929C24 10.5089 23.5864 10.9225 23.0768 10.9225H3.14982L10.1905 17.9632C10.5512 18.3238 10.5512 18.9086 10.1905 19.2692C10.0108 19.4489 9.77445 19.54 9.53812 19.54C9.30179 19.54 9.06542 19.4502 8.88571 19.2692L0.269401 10.6529C0.184469 10.568 0.116936 10.4659 0.0701613 10.3527C-0.0233871 10.1274 -0.0233871 9.87265 0.0701613 9.64739C0.116936 9.53415 0.184469 9.43181 0.269401 9.34688L8.88571 0.730573C9.24636 0.36992 9.83108 0.36992 10.1917 0.730573C10.5524 1.09123 10.5524 1.67595 10.1917 2.0366L3.15102 9.07732H23.0768C23.5864 9.07609 24 9.4897 24 9.99929Z"
          fill="#111C3C"
        />
      </svg>
    </ion-buttons>

    <ion-title
      style="text-align: center; font-family: sofiaProMedium; font-size: 20px"
      >Sign up</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-top: 2rem">
    <!-- <ion-button expand="block" class="ion-margin-top"  color="dark">CONTINUE with Apple</ion-button> -->
    <!-- <ion-button expand="block" class="ion-margin-top" style="--background:#4267B2">CONTINUE with Facebook</ion-button> -->
    <ion-button
      expand="block"
      (click)="gSignIn()"
      class="ion-margin-top"
      color="secondary"
      >CONTINUE with Google</ion-button
    >
  </div>

  <hr style="margin: 2.5rem 0rem" />

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <ion-input
      [ngClass]="{ 'is-invalid': signUpForm.get('email')?.invalid && (signUpForm.get('email')?.touched || isSubmitted) }"
      class="ion-margin-top"
      style="--padding-start: 1rem; height: 48px; min-height: 48px"
      placeholder="Email"
      formControlName="email"
      type="email"
    ></ion-input>
    <div
      *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.touched || isSubmitted)"
      class="error-message"
    >
      <ng-container
        *ngIf="signUpForm.get('email')?.errors?.['required']; else invalidEmail"
      >
        Email address is required.
      </ng-container>
      <ng-template #invalidEmail>
        The email address you entered is invalid.
      </ng-template>
    </div>
    <div style="position: relative">
      <ion-input
        [ngClass]="{ 'is-invalid': signUpForm.get('password')?.invalid && (signUpForm.get('password')?.touched || isSubmitted) }"
        class="ion-margin-top"
        style="--padding-start: 1rem; height: 48px; min-height: 48px"
        placeholder="Password"
        formControlName="password"
        [type]="toggelEye ? 'password' : 'text'"
      >
      </ion-input>

      <svg
        (click)="toggelEye = !toggelEye"
        *ngIf="toggelEye"
        style="
          position: absolute;
          right: 8px;
          top: 50%;
          z-index: 4;
          transform: translateY(-50%);
        "
        width="28px"
        height="28px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 5C5.63636 5 2 12 2 12C2 12 5.63636 19 12 19C18.3636 19 22 12 22 12C22 12 18.3636 5 12 5Z"
          stroke="#B7BCC9"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
          stroke="#B7BCC9"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <svg
        (click)="toggelEye = !toggelEye"
        *ngIf="!toggelEye"
        style="
          position: absolute;
          right: 8px;
          top: 50%;
          z-index: 4;
          transform: translateY(-50%);
        "
        width="28px"
        height="28px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 14.8335C21.3082 13.3317 22 12 22 12C22 12 18.3636 5 12 5C11.6588 5 11.3254 5.02013 11 5.05822C10.6578 5.09828 10.3244 5.15822 10 5.23552M12 9C12.3506 9 12.6872 9.06015 13 9.17071C13.8524 9.47199 14.528 10.1476 14.8293 11C14.9398 11.3128 15 11.6494 15 12M3 3L21 21M12 15C11.6494 15 11.3128 14.9398 11 14.8293C10.1476 14.528 9.47198 13.8524 9.1707 13C9.11386 12.8392 9.07034 12.6721 9.04147 12.5M4.14701 9C3.83877 9.34451 3.56234 9.68241 3.31864 10C2.45286 11.1282 2 12 2 12C2 12 5.63636 19 12 19C12.3412 19 12.6746 18.9799 13 18.9418"
          stroke="#B7BCC9"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div
      *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.touched || isSubmitted)"
      class="error-message"
    >
      <ng-container
        *ngIf="signUpForm.get('password')?.errors?.['required']; else invalidPassword"
      >
        Password is required.
      </ng-container>
      <ng-template #invalidPassword>
        Password must be at least 8 characters long.
      </ng-template>
    </div>

    <ion-button
      style="height: 48px"
      class="ion-margin-top ion-text-capitalize"
      expand="block"
      color="primary"
      type="submit"
      >Sign up</ion-button
    >
  </form>
</ion-content>
