<ion-content>
  <div style="height: 100%; padding: 16px 16px 32px 16px">
    <div style="height: calc(100% - 52px)">
      <div style="text-align: center; padding-top: 117px">
        <div>
          <img
            style="width: 109.24px; height: 109.6px"
            src="assets/vectors/slide_4.svg"
            alt=""
          />
        </div>
        <h1
          style="
            color: #111c3c;
            margin-bottom: 24px;
            margin-top: 24px;
            height: 37px;
            line-height: 37px;
            font-family: sofiaProMedium;
          "
        >
          Welcome to OnePick
        </h1>
      </div>
      <div>
        <div style="color: #111c3c; padding: 0px 16px">
          <div style="display: flex; margin-bottom: 12px">
            <div>
              <ion-icon
                style="color: #05dd71; font-size: x-large"
                name="checkmark-outline"
              ></ion-icon>
            </div>
            <div style="height: 46px; line-height: 22.5px; margin-left: 10px">
              <span
                >The platform that guides you toward the ultimate choice</span
              >
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div>
              <ion-icon
                style="color: #05dd71; font-size: x-large"
                name="checkmark-outline"
              ></ion-icon>
            </div>
            <div style="height: 46px; line-height: 22.5px; margin-left: 10px">
              <span>Communities helping each other through all requests</span>
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div>
              <ion-icon
                style="color: #05dd71; font-size: x-large"
                name="checkmark-outline"
              ></ion-icon>
            </div>
            <div style="height: 46px; line-height: 22.5px; margin-left: 10px">
              <span>Create your lists and engage with the community</span>
            </div>
          </div>

          <div style="display: flex; margin-bottom: 12px">
            <div>
              <ion-icon
                style="color: #05dd71; font-size: x-large"
                name="checkmark-outline"
              ></ion-icon>
            </div>
            <div style="height: 46px; line-height: 22.5px; margin-left: 10px">
              <span>No more being indecisive. We got you!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 52px">
      <ion-button
        (click)="goToCompleteProfile()"
        style="width: 99%"
        color="primary"
        class="heightened-button"
        >Get started
      </ion-button>
    </div>
  </div>
</ion-content>
