<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="text-tolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 
    <ion-title style="text-align: center;">Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>
  <div style="margin-bottom: 15px;">
    <ion-text >
      <h5 style="margin-left: 1rem ; margin-right:1rem; font-weight: bold;">Article 1. Object</h5>
      <p style="color: #9CA09F ; margin-top:5px">fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit</p>
    </ion-text>
  </div>

  <div style="margin-bottom: 15px;">
    <ion-text >
      <h5 style="margin-left: 1rem ; margin-right:1rem; font-weight: bold">Article 2. Retention of ownership</h5>
      <p style="color: #9CA09F ; margin-top:5px">fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit</p>
    </ion-text>
  </div>


  <div style="margin-bottom: 15px;">
    <ion-text >
      <h5 style="margin-left: 1rem ; margin-right:1rem; font-weight: bold">Article 3. Products</h5>
      <p style="color: #9CA09F ; margin-top:5px">fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehend eritfermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit</p>
    </ion-text>
  </div>


  <div style="margin-bottom: 15px;">
    <ion-text >
      <h5 style="margin-left: 1rem ; margin-right:1rem; font-weight: bold">Article 4. App</h5>
      <p style="color: #9CA09F ; margin-top:5px">fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit fermentum cupidatat elit, eget, lobortis donec congue, consectetur tincidunt eget, fermentum duis a vehicula. consequat. nulla sit ut eu orci maecenas tincidunt hac proident, sem, ad aliquam deserunt reprehenderit.</p>
    </ion-text>
  </div>

</ion-content>

<ion-footer>
  <ion-text style="color: #9CA09F">
    <p>If you have any questions about this agreement, please contact us at contact&#64;onepick.com.</p>
  </ion-text>
</ion-footer>