<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="text-tolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Pickers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">
    <ion-item *ngFor="let picker of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <ion-avatar slot="start">
        <img src="assets/vectors/img-picker-2.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>

        <p>Username</p>
      </ion-label>

      <ion-button>
        <span class="pick-button"> Pick </span>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
