<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="text-tolbar">
    <ion-buttons style="cursor: pointer;" (click)="goBack()" slot="start">
      <svg _ngcontent-ng-c1457120868="" xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none"><path _ngcontent-ng-c1457120868="" d="M24 9.99917C24 10.5088 23.5864 10.9223 23.0768 10.9223H3.14982L10.1905 17.9631C10.5512 18.3237 10.5512 18.9084 10.1905 19.2691C10.0108 19.4488 9.77445 19.5399 9.53812 19.5399C9.30179 19.5399 9.06542 19.45 8.88571 19.2691L0.269401 10.6528C0.184469 10.5679 0.116936 10.4658 0.0701613 10.3526C-0.0233871 10.1273 -0.0233871 9.87252 0.0701613 9.64727C0.116936 9.53403 0.184469 9.43169 0.269401 9.34676L8.88571 0.730451C9.24636 0.369797 9.83108 0.369797 10.1917 0.730451C10.5524 1.09111 10.5524 1.67583 10.1917 2.03648L3.15102 9.0772H23.0768C23.5864 9.07596 24 9.48958 24 9.99917Z" fill="#111C3C"></path></svg>
    </ion-buttons>
 
    <ion-title style="text-align: center;">PRIVACY POLICY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end" style="text-align: justify;">
  <p style="text-align: center;">Please read our Privacy Policy carefully as it explains the following:</p>
 <p>
  In order to use the App, you must first acknowledge and agree to our Privacy Policy. You cannot use the App without first accepting our Privacy Policy.
 </p>
 <strong>GENERAL</strong>
 <p>
  We provide the Onepick Application which is a collective decision making social media platform, with the aim of reinventing the customer-brand relationship to help make a better decision toward progress.
 </p>
 <p>
  We ("Individual", "us", "we" or "our") recognizes and understand the importance of the privacy of its users ("User", "you" or "your") and want to respect their desire to store and access personal information in a private and secure manner. This Privacy Policy applies to our application and describes how we manage, store, and utilize your Personal Data through its Products.
 </p>
 <p>
  In order to use our app, we require you to consent to the collection and processing of your Personal Data before you start using the app. If you do not agree with the terms of this Privacy Policy, you may not use in any manner the app.
 </p>
 <p>
  We are committed to protecting the privacy of all of its user’s Personal Data and providing a secure, user-controlled environment for the use of the app.
 </p>
 <strong>
  PERSONAL DATA YOU PROVIDE 
 </strong>
 <ul>
  <li>
    Account Credentials. In order to use the Onepick App Services, you are required to log in with an Account Authentication Mechanism (Name, and Email Address, or any third-party login such as Google Sign-in, Facebook Sign-in, and Apple Sign-in) When creating an account, Onepick stores a hashed version of your Account Authentication Mechanism for authentication and/or verification purposes. We use a third-party service provider for verification and authentication.
  </li>
  <li>
    Profile Information. When you create an account, you choose to provide us with Personal Data about yourself. For example, in the Onepick App, you may provide your Personal Data, such as name, age, location, email address, and any other information that is required to positively identify the user.
  </li>
  <li>
    Photos, Videos, and Audio. If you upload a photo or video, while using the Onepick App Services, you will be required to permit Onepick to access your camera, photo gallery, and microphone in which case Onepick will have access to the photos and videos stored in your photo gallery.
  </li>
  <li>
    Location and Distance Information. When you use the Onepick App, we collect your precise location (e.g. your latitude and longitude) ("Location") to determine the distance in feet or meters (“Distance Information”). Should you choose not to allow the Onepick App to access your location, certain features (such as displaying nearby user profiles or features that include Live Location Sharing) of the Onepick Services will not function properly. You may also revoke this permission and disable the location services on your device. You can do so on an iPhone by going to Settings, Privacy, Location Services, Onepick; and on Android, by going to Settings, Onepick App, Permissions, Location.
  </li>
  <li>
    Feedback/Support. If you provide us feedback or contact customer support, we collect your name and e-mail address and possibly other Personal Data (e.g. IP address), as well as any other content that you send to us in order to reply and address any issue. If you contact customer support, we also collect and retain certain technical diagnostic data, such as your phone model. We may keep records of our communication with you, including any complaints we receive from you about other users (and from other users about you).
  </li>
  </ul>
  <strong>
    PERMISSIONS REQUIRED
  </strong>
  <ul style="text-transform: uppercase;">
    <li>INTERNET</li>
    <li>NOTIFICATION</li>
    <li>CAMERA</li>
    <li>MICROPHONE</li>
    <li>GPS LOCATION</li>
    <li>STORAGE</li>
  </ul>
  <p>Link to the privacy policy of third-party service providers used by the app</p>
  <ul>
    <li>Apple App Store Services</li>
    <li>Google Play Services</li>
  </ul>
  <strong>
    LOG DATA
  </strong>
  <p>We want to inform you that whenever you use our Service, in case of an error in the app, we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>
  <strong>
    YOUR PERSONAL DATA
  </strong>
  <p>
    We are using a strong backend for our Onepick App. In the backend, all the content will be stored. All Data will remain safe and secure. No, any single information/data will send anywhere.  
  </p>

  <strong>
    SECURITY
  </strong>
  <p>
    We value your trust in providing us with your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
  </p>
  <strong>
    CHILDREN’S PRIVACY
  </strong>
  <p>
    These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided me with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do the necessary actions.
  </p>
  <strong>
    SERVICE PROVIDERS
  </strong>
  <p>
    We may employ third-party companies and individuals due to the following reasons:
  </p>
  <ul>
    <li>To facilitate our Service;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services; or</li>
    <li>
      To assist us in analyzing how our Service is used.
    </li>
  </ul>
  <p>We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
  <strong>
    UPDATES OR CHANGES TO OUR PRIVACY POLICY
  </strong>
  <p>
    Occasionally, we may change or update this Privacy Policy to allow us to use or share your previously collected Personal Data for other purposes. If we would use your Personal Data in a manner materially different from that stated at the time of the collection, we will provide you with a notice on our Website and in our Onepick, Mobile Application indicating that the Privacy Policy has been changed or updated and request you to agree with the updated or changed Privacy Policy.
  </p>
  <strong>
    CONTACT US
  </strong>
  <p>
    ghita&#64;onepick.app
  </p>
</ion-content>
