<ion-content>
  <div style="padding: 0px 16px">
    <div
      style="
        text-align: center;
        margin-top: 22rem;
        margin-bottom: 1rem;
        font-family: SofiaProMedium;
      "
    >
      <h1 style="height: 37px; margin: 0">Check your Mail</h1>
    </div>
    <div style="text-align: center; margin-bottom: 68px">
      <p style="color: #111c3c; margin: 0px; height: 20px; line-height: 20px">
        You received a 8 digit code, please enter it below.
      </p>
    </div>
    <div>
      <div>
        <ion-input
          [(ngModel)]="code"
          style="--padding-start: 1rem; min-height: 48px; height: 48px"
          placeholder="8 digit code"
          clearInput
          type="text"
        ></ion-input>
      </div>
    </div>
    <div style="text-align: center; margin-top: 16px">
      <ion-button
        (click)="goToCreatePassword()"
        style="width: 100%; margin: 0px"
        color="primary"
        >Confirm
      </ion-button>
    </div>
  </div>
</ion-content>
