<ion-header class="ion-no-border">
  <ion-toolbar class="text-tolbar">
    <ion-title> Post Insights </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="20"
          viewBox="0 0 24 20"
          fill="none"
        >
          <path
            d="M24 9.99917C24 10.5088 23.5864 10.9223 23.0768 10.9223H3.14982L10.1905 17.9631C10.5512 18.3237 10.5512 18.9084 10.1905 19.2691C10.0108 19.4488 9.77445 19.5399 9.53812 19.5399C9.30179 19.5399 9.06542 19.45 8.88571 19.2691L0.269401 10.6528C0.184469 10.5679 0.116936 10.4658 0.0701613 10.3526C-0.0233871 10.1273 -0.0233871 9.87252 0.0701613 9.64727C0.116936 9.53403 0.184469 9.43169 0.269401 9.34676L8.88571 0.730451C9.24636 0.369797 9.83108 0.369797 10.1917 0.730451C10.5524 1.09111 10.5524 1.67583 10.1917 2.03648L3.15102 9.0772H23.0768C23.5864 9.07596 24 9.48958 24 9.99917Z"
            fill="#111C3C"
          />
        </svg>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" style="width: 30px"></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    @if(insights()){
    <app-post-insights-images
      [contents]="contents()"
      [index]="activeIndex()"
      (changeIndex)="onSelect($event)"
    ></app-post-insights-images>
    <app-post-content-score [score]="score()"></app-post-content-score>
    <app-post-insights-overview [stats]="stats()"></app-post-insights-overview>

    <div class="pickers-gender">
      <h5>Pickers Gender</h5>
      <div class="gender-range">
        <div>
          <canvas #doughnutCanvas></canvas>
        </div>
        <div class="age-range-content">
          @for (gender of pickers_gender(); track gender.name) {
          <div class="data">
            <h5 style="--color: {{ gender.color }}">{{ gender.name }}</h5>
            <div>{{ gender.percentage | number : "1.1-1" }}%</div>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="pickers-age">
      <div class="age-range-header">
        <h5>Pickers Age Range</h5>
        <ion-select
          class="gender-Select"
          (ionChange)="onGenderChange($event)"
          [value]="gender()"
          interface="action-sheet"
        >
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="non-binary">Non-Binary</ion-select-option>
          <ion-select-option value="unknown"
            >I prefer not to say</ion-select-option
          >
        </ion-select>
      </div>
      <div class="age-range">
        <div class="age-range-chart">
          <canvas #doughnutAgeRange></canvas>
        </div>
        <div class="age-range-content">
          @for (age of pickers_age(); track age.name) {
          <div class="data">
            <h5 style="--color: {{ age.color }}">{{ age.name }}</h5>
            <div>{{ age.value | number : "1.1-1" }}%</div>
          </div>
          }
        </div>
      </div>
    </div>
    <app-map [whereabouts]="pickers_whereabouts()"></app-map>

    <div>
      <ol>
        @for (whereabout of pickers_whereabouts(); track whereabout.country) {
        <li class="whereabouts">
          <h5>{{ whereabout.country }}</h5>
          <div class="whereabouts-data">
            <span>
              {{ whereabout.count }}
            </span>
            <span> {{ whereabout.percentage | number : "1.1-1" }}% </span>
          </div>
        </li>
        }
      </ol>
    </div>

    }
  </div>
</ion-content>
