.headerSignIn {
  height: 60px;
  padding: 16px;
  text-align: center;
  font-family: "SofiaProMedium";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
}
.error-message {
  color: #cd0000;
  font-size: 12px;
  margin-top: 1%;
}
