<ion-content>
  <div  style="padding: 24px 16px 16px 16px;height: 100%;">
  <div style="text-align:center;margin-top:16rem;">
    <h1 style="    margin: 0;
    height: 37px;
    line-height: 37px;font-family: SofiaProMedium;">
      Create New Password
    </h1>

  </div>
  <div style="text-align:center;margin-bottom: 40px;margin-top: 16px;">
    <p style="color:#111C3C;margin: 0;    height: 40px;
    line-height: 20px;">
      Always try to add a capital, a number, and a symbol to your password.
    </p>
  </div>
  <div>
      <ion-input [(ngModel)]="password" style="--padding-start:1rem;height: 48px;
    min-height: 48px;" placeholder="Password" clearInput type="password"></ion-input>
  </div>
  <div class="ion-margin-bottom ion-margin-top">
      <ion-input [(ngModel)]="confirmpassword" style="--padding-start:1rem;height: 48px;
    min-height: 48px;" placeholder="Confirm password" clearInput type="password"></ion-input>
  </div>
  <div style="text-align:center;">
    <ion-button (click)="goToSuccessPassword()" style="width: 100%;    margin: 0px;
    height: 48px;" color="primary">Reset password
    </ion-button>
  </div>
</div>
</ion-content>