ion-chip {
  border-radius: 5px;
}

ion-card {
  border-radius: 0px;
  margin: 0px;
}

.triangle::before {
  content: "";
  display: block;
  height: 50px;
  background: url(https://picsum.photos/id/1061/300/300) center/cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.triangle {
  display: inline-block;
  width: 50px;
  color: red;
  filter: url(#round2);
}

ion-col a {
  color: #ffffff;
}

.square-shape {
  border-radius: 3px;
  border: none;
  margin: 3px;
}

ion-row {
  overflow-x: hidden;
  overflow-y: hidden;
}

.selected {
  background-color: blue;
  color: aliceblue;
}

.segments {
  ion-segment-button {
    --ripple-color: transparent;
    --indicator-color: transparent;
  }
}

.min-height {
  min-height: 150px;
  font-size: 14px !important;
}
.numbres {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 26px;
  width: 26px;
  background-color: #b7bcc9;
  color: #fff;
  line-height: 28px;
  border-radius: 5px;
  border-top-left-radius: 16px;
}

.name-text {
  color: var(--Dark-blue, #111c3c);
  /* Base/Meduim base */
  font-family: SofiaProMedium;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 6px;
  padding-left: 10px;
  text-transform: capitalize !important;
}

::ng-deep .my-custom-class {
  border-radius: 5px;
  border: 1px solid #eee;
}

::ng-deep .time-picker {
  ion-picker-column {
    flex-direction: row-reverse;
    .picker-prefix {
      color: #b7bcc9;
      font-size: 1rem;
      text-align: left;
      margin-top: 4px;
    }
  }
}

.text-choix {
  font-family: SofiaProMedium;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Dark-blue, #111c3c);
  flex: 1;
  appearance: none;
  outline: none;
  border: none;
  line-height: normal;
  word-break: break-word;
  position: relative;
  z-index: 0;
  padding: 16px 0;
}
.sc-ion-textarea-md-h {
  --placeholder-color: var(--Grey, #b7bcc9);
}

.title-text {
  color: var(--Dark-blue, #111c3c);

  /* Heading H4/Medium h4 */
  font-family: SofiaProMedium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
