.post-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 100%;
  position: relative;
}

.post-item-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 2px;
}

.content {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f1f1f1;
}

.content.clip {
  aspect-ratio: 2 / 3;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-grid-item-text {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: hsla(225, 56%, 15%, 0.05);
}

.post-grid-item-text > div.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, rgba(17, 28, 60, 0) 0%, #111c3c 100%);
  color: var(--White, #fff);
}

.overlay svg {
  width: 20px;
}

.post-grid-item-text span {
  line-height: normal;
  font-family: SofiaProMedium;
  font-size: 14px;
  font-weight: 500;
}
